* {
  border: none;
  border-radius: 10px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 8px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 6px;
  padding-right: 10px;
  font-size: 4px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #161320;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #7984a4;
  background: transparent;
  font-size: 16px;
  border-radius: 2px;
}

#workspaces button.urgent {
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#workspaces button.active {
  color: #abe9b3;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #e8a2af;
  border-color: #e8a2af;
}

#workspaces button.active:hover {
  color: #e8a2af;
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 18px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #f8bd96;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #fae3b0;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  background-color: #161320;
  color: #b5e8e0;
}

#battery.critical:not(.charging) {
  color: #b5e8e0;
  background-color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#backlight,
#custom-image {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 12px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #bd93f9;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #abe9b3;
}

#memory {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #ddb6f2;
}

#cpu,
#custom-cpuinfo {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #96cdfb;
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #b5e8e0;
  background: #161320;
}

#custom-launcher {
  font-size: 16px;
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 7px;
  padding-right: 12px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #89dceb;
}

#custom-launcher:hover {
  background: #89dceb;
  color: #161320;
}

#custom-power {
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 7px;
  padding-right: 12px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #f28fad;
}

#custom-media {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #161320;
  color: #f2cdcd;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
